.blog-post-wrapper {
  flex-wrap: wrap;
}

.blog-post-card {
  background-color: $color-grey-lighter;
  box-shadow: 2px 2px 0 rgba(200, 200, 200, 0.25);

  @media (max-width: $grid-sm-breakpoint - 1) {
    margin-bottom: 1.25rem;
  }

  @media (min-width: $grid-sm-breakpoint) {
    width: calc(50% - 1.25rem);

    &:nth-child(odd) {
      margin-right: 1.25rem;
    }
  }

  &--inner {
    padding: 2.5rem;
  }

  &--teaser {
    display: block;
  }
}
