.blog-post-wrapper {
  flex-wrap: wrap;
}

.blog-post-card {
  background-color: $color-white;
  transition: all 0.2s ease-in-out;
  position: relative;
  text-align: center;

  .read-more {
    text-transform: uppercase;
    margin-top: 1.25rem;
    display: block;

    &::after {
      content: '\25BA';
    }
  }

  @media (max-width: $grid-sm-breakpoint - 1) {
    margin-bottom: 1.25rem;
  }

  @media (min-width: $grid-sm-breakpoint) {
    width: calc(50% - 1.25rem);

    &:nth-child(odd) {
      margin-right: 1.25rem;
    }
  }

  &--inner {
    padding: 2.5rem;
  }

  &--teaser {
    display: block;
  }
}
