.color-light {
    color: $color-light;
}

.color-blue {
    color: $color-blue;
}

.color-dark {
    color: $color-dark;
}

.color-grey-light {
    color: $color-grey-light;
}

.color-grey-lighter {
    color: $color-grey-lighter;
}


.bg-blue {
    background-color: $color-darkblue;
}

.bg-grey-light {
    background-color: $color-grey-light;
}

.bg-grey-lighter {
    background-color: $color-grey-lighter;
}